# Imports

In [ ]:
import pandas as pd
import csv
import math

# Read File

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/final_books.xlsx')
row = [2]
print(df)
df = df.get('content')

                                               title                date  \
0                               بهترین درسهای زندگی‎          ۲ دی ۱۳۹۸
1                                 از سلاجقه تا صفویه          ۱ دی ۱۳۹۸
2                                      سرگذشت رضاشاه        ۲۹ آذر ۱۳۹۸
3                     سیری نوین در فرگشت و اسرار مغز        ۲۸ آذر ۱۳۹۸
4                                      آسمان پرستاره        ۲۶ آذر ۱۳۹۸
...                                              ...                 ...
2819                            آشنایی با علم رباتیک   ۱۲ اردیبهشت ۱۳۸۸
2820  دانلود مجله الکترونیکی برنامه نویس – شماره اول   ۱۱ اردیبهشت ۱۳۸۸
2821                      داستان خواستگاری یا انتخاب   ۱۱ اردیبهشت ۱۳۸۸
2822             آشنایی با قطعات سخت افزاری کامپیوتر   ۱۱ اردیبهشت ۱۳۸۸
2823                   الکترونیکی آموزش ورد ( word )   ۱۱ اردیبهشت ۱۳۸۸

                                                content           category  \
0      تی دی جیکس یک کشیش، نویسنده، سخنران آمریکایی ...          روانشناسی
1      کتاب حاضر که اینک در دسترس خوانندگان محترم قر...        تاریخ ایران
2      دکتر فتح الله بینا تحصیلات خود را در رشته پزش...        تاریخ ایران
3      مجموعه پیش رو مطالبیست که در گروه Evolution ت...         علم و دانش
4      کتاب آسمان پرستاره نوشته‌ی کتی هایدن، به زبان...  کودکان و نوجوانان
...                                                 ...                ...
2819                                                NaN             رباتیک
2820                                                NaN       برنامه نویسی
2821   کتابی که می خواهید مطالعه کنید به صورت فیلم ن...      داستان و رمان
2822                                                NaN          سخت افزار
2823                                                NaN               آفیس

                             autor     comments
0                     سارا رزولت    بدون دیدگاه
1               نصرت الله مشکوتی    بدون دیدگاه
2                  فتح الله بینا    بدون دیدگاه
3                   مانی منوچهری    بدون دیدگاه
4                      کتی هایدن    بدون دیدگاه
...                            ...          ...
2819                  شبنم عاقلی      ۲۱ دیدگاه
2820            Barnamenevis.org      ۱۰ دیدگاه
2821                 م. مودب پور      ۱۲ دیدگاه
2822                    پارس بوک      ۵۲ دیدگاه
2823               امین مهدی پور      ۳۸ دیدگاه

[2824 rows x 6 columns]

In [ ]:
df

0        تی دی جیکس یک کشیش، نویسنده، سخنران آمریکایی ...
1        کتاب حاضر که اینک در دسترس خوانندگان محترم قر...
2        دکتر فتح الله بینا تحصیلات خود را در رشته پزش...
3        مجموعه پیش رو مطالبیست که در گروه Evolution ت...
4        کتاب آسمان پرستاره نوشته‌ی کتی هایدن، به زبان...
                              ...
2819                                                  NaN
2820                                                  NaN
2821     کتابی که می خواهید مطالعه کنید به صورت فیلم ن...
2822                                                  NaN
2823                                                  NaN
Name: content, Length: 2824, dtype: object

# install hazm

In [ ]:
!pip install hazm

Collecting hazm
  Downloading hazm-0.7.0-py3-none-any.whl (316 kB)
     |████████████████████████████████| 316 kB 5.0 MB/s
Collecting libwapiti>=0.2.1
  Downloading libwapiti-0.2.1.tar.gz (233 kB)
     |████████████████████████████████| 233 kB 48.4 MB/s
Collecting nltk==3.3
  Downloading nltk-3.3.0.zip (1.4 MB)
     |████████████████████████████████| 1.4 MB 41.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.3->hazm) (1.15.0)
Building wheels for collected packages: nltk, libwapiti
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.3-py3-none-any.whl size=1394490 sha256=a4e6caef50067dfa4ba5837f39a3207bb6c9384b759809020543395f9345c7c1
  Stored in directory: /root/.cache/pip/wheels/9b/fd/0c/d92302c876e5de87ebd7fc0979d82edb93e2d8d768bf71fac4
  Building wheel for libwapiti (setup.py) ... done
  Created wheel for libwapiti: filename=libwapiti-0.2.1-cp37-cp37m-linux_x86_64.whl size=154597 sha256=b1a081e9cb01e649f28f8b830542d61f2315e2b19e774131a1a158123e5e6142
  Stored in directory: /root/.cache/pip/wheels/ab/b2/5b/0fe4b8f5c0e65341e8ea7bb3f4a6ebabfe8b1ac31322392dbf
Successfully built nltk libwapiti
Installing collected packages: nltk, libwapiti, hazm
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed hazm-0.7.0 libwapiti-0.2.1 nltk-3.3

# Normalization

In [ ]:
import hazm

In [ ]:
informalNormalizer = hazm.InformalNormalizer

In [ ]:
normalizer = hazm.Normalizer()

df = df.apply(lambda x: normalizer.character_refinement(normalizer.affix_spacing(str(x))))
df.head()

0     تی دی جیکس یک کشیش، نویسنده، سخنران آمریکایی ...
1     کتاب حاضر که اینک در دسترس خوانندگان محترم قر...
2     دکتر فتح الله بینا تحصیلات خود را در رشته پزش...
3     مجموعه پیش رو مطالبیست که در گروه Evolution ت...
4     کتاب آسمان پرستاره نوشته‌ی کتی هایدن، به زبان...
Name: content, dtype: object

In [ ]:
df = df.apply(lambda x: normalizer.normalize(str(x)))
df.head()

0     تی دی جیکس یک کشیش، نویسنده، سخنران آمریکایی ...
1     کتاب حاضر که اینک در دسترس خوانندگان محترم قر...
2     دکتر فتح الله بینا تحصیلات خود را در رشته پزش...
3     مجموعه پیش رو مطالبیست که در گروه Evolution ت...
4     کتاب آسمان پرستاره نوشته‌ی کتی هایدن، به زبان...
Name: content, dtype: object

In [ ]:
!git clone https://github.com/kharazi/persian-stopwords.git

Cloning into 'persian-stopwords'...
remote: Enumerating objects: 51, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 51 (delta 7), reused 5 (delta 5), pack-reused 42
Unpacking objects: 100% (51/51), done.

In [ ]:
word_tokenize = hazm.word_tokenize
token_df = pd.DataFrame()
token_df['tokens'] =df.apply(lambda x: word_tokenize(x))
token_df

                                                 tokens
0     [تی, دی, جیکس, یک, کشیش, ،, نویسنده, ،, سخنران...
1     [کتاب, حاضر, که, اینک, در, دسترس, خوانندگان, م...
2     [دکتر, فتح, الله, بینا, تحصیلات, خود, را, در, ...
3     [مجموعه, پیش, رو, مطالبیست, که, در, گروه, Evol...
4     [کتاب, آسمان, پرستاره, نوشته‌ی, کتی, هایدن, ،,...
...                                                 ...
2819                                              [nan]
2820                                              [nan]
2821  [کتابی, که, می‌خواهید, مطالعه, کنید, به, صورت,...
2822                                              [nan]
2823                                              [nan]

[2824 rows x 1 columns]

In [ ]:
chars = []
with open('/content/persian-stopwords/chars', 'r') as f:
    for line in f:
      chars.append(line.strip())

In [ ]:
def remove_stopwords(tokens):
  sw = hazm.utils.stopwords_list()
  return [item for item in tokens if item not in chars and item not in sw]

In [ ]:
token_df['without-stop-word'] = token_df['tokens'].apply(lambda x: remove_stopwords(x))
token_df['without-stop-word']

0       [تی, دی, جیکس, کشیش, نویسنده, سخنران, آمریکایی...
1       [کتاب, حاضر, اینک, دسترس, خوانندگان, محترم, قر...
2       [دکتر, فتح, الله, بینا, تحصیلات, رشته, پزشکی, ...
3       [مجموعه, مطالبیست, گروه, Evolution, توسط, اینج...
4       [کتاب, آسمان, پرستاره, نوشته‌ی, کتی, هایدن, زب...
                              ...
2819                                                [nan]
2820                                                [nan]
2821    [کتابی, می‌خواهید, مطالعه, صورت, فیلم, نامه, م...
2822                                                [nan]
2823                                                [nan]
Name: without-stop-word, Length: 2824, dtype: object

# lemmatizer

In [ ]:
def stem(tokens):
  stemmer = hazm.Stemmer()
  return [stemmer.stem(item) for item in tokens]

In [ ]:
def lem(tokens):
  lemmatizer = hazm.Lemmatizer()
  return [lemmatizer.lemmatize(x) for x in tokens]

In [ ]:
token_df['stemmed'] = token_df['without-stop-word'].apply(lambda x: stem(x))
token_df['stemmed'].head()

0    [ت, د, جیکس, کش, نویسنده, سخنر, آمریکا, سمینار...
1    [کتاب, حاضر, اینک, دسترس, خوانندگ, محتر, قرار,...
2    [دک, فتح, الله, بینا, تحصیل, رشته, پزشک, دنبال...
3    [مجموعه, مطالبیس, گروه, Evolution, توسط, اینجا...
4    [کتاب, آس, پرستاره, نوشته, کت, هایدن, زبان, سا...
Name: stemmed, dtype: object

In [ ]:
token_df['lemmetized'] = token_df['stemmed'].apply(lambda x: lem(x))
token_df['lemmetized'].head()

0    [ت, د, جیکس, کش, نویسنده, سخنر, آمریکا, سمینار...
1    [کتاب, حاضر, اینک, دسترس, خوانندگ, محتر, قرار,...
2    [دک, فتح, الله, بینا, تحصیل, رشته, پزشک, دنبال...
3    [مجموعه, مطالبیس, گروه, Evolution, توسط, اینجا...
4    [کتاب, آس, پرستاره, نوشته, کت, هایدن, زبان, سا...
Name: lemmetized, dtype: object

# Inverted Index 
after lemmatization

In [ ]:
docs = token_df["lemmetized"].tolist()
index_map = {}
for doc in docs:
  doc_index = docs.index(doc) + 1
  doc = list(set(doc))
  for token in doc:
    if token not in index_map.keys():
      index_map[token] = [doc_index,]
    else: 
      index_map[token].append(doc_index)

write output of inverted index to a csv file

In [ ]:
with open("/content/II_lem_output.csv", 'w', newline='') as output_file:
  csvwriter = csv.writer(output_file)
  for key in index_map.keys():
    row = []
    row.append(key)
    for i in index_map[key]:
      row.append(i)
    csvwriter.writerow(row)

# Inverted Index
after stemming

In [ ]:
docs = token_df["stemmed"].tolist()
index_map = {}
for doc in docs:
  doc_index = docs.index(doc) + 1
  doc = list(set(doc))
  for token in doc:
    if token not in index_map.keys():
      index_map[token] = [doc_index,]
    else: 
      index_map[token].append(doc_index)

write output of inverted index to a csv file

In [ ]:
with open("/content/II_stm_output.csv", 'w', newline='') as output_file:
  csvwriter = csv.writer(output_file)
  for key in index_map.keys():
    row = []
    row.append(key)
    for i in index_map[key]:
      row.append(i)
    csvwriter.writerow(row)

# TF_IDF

computing idf for each token

In [ ]:
doc_count = token_df.shape[0]
idf_dict = {}
for key in index_map.keys():
  idf_dict[key] = math.log10(doc_count/(len(index_map[key])))

computing tf

In [ ]:
tf_dict = {}
for key in idf_dict.keys():
  for i in index_map[key]:
    doc = docs[i-1]
    tf = doc.count(key)
    tf = 1 + math.log10(tf)
    if i not in tf_dict.keys():
      tf_dict[i] = [tf,]
    else:
      tf_dict[i].append(tf)
  for i in (x for x in range(doc_count) if x not in index_map[key]):
    tf = 0
    if i not in tf_dict.keys():
      tf_dict[i] = [tf,]
    else:
      tf_dict[i].append(tf)

calculating tf_idf

In [ ]:
token_index = 0
for key in idf_dict.keys():
  idf = idf_dict[key]
  for doc in tf_dict.keys():
    tf_dict[doc][token_index] *= idf
  token_index += 1

# tf_dict contains tf_idf weights for all the tokens. Keys are doc_indx and 
# values are vectors of the doc.

In [ ]:
tokens = list(index_map.keys())
tf_idf = tf_dict[3]
doc_tf_idf = dict(zip(tokens, tf_idf))
with open('doc3_tf_idf.json', 'w') as file:
    json.dump(doc_tf_idf, file, ensure_ascii=False)

# Queries

In [ ]:
q = ["معناهای فلسفی و جامعه شناسی جهانبینی و ایدئولوژی از دید متفکرین گوناگون",
     "پادشاه بینی دراز اثر داینا مالک و پادشاه زرین دست اثر الکساندر چودسکو",
     "انقلاب سفید یا انقلاب شاه و مردم نام یک سلسله تغییرات اقتصادی و اجتماعی",
     "اسپهبد مرزبان بن رستم بن شهریار بن شروین بن رستم بن سرخاب بن قارن",
     "پل کندی مورخ نامدار انگلیسی و استاد دانشگاه ییل آمریکا",
     "بنیانگذار مکتب هیوهو نیتن ایچی ریو و نویسنده کتاب پنج حلقه",
     "او ۲۶ کتاب مختلف نوشته‌است که به ۲۰ زبان زنده دنیا ترجمه شده‌است",
     "هری پاتر و تالار اسرار دومین رمان از سری رمان‌های هری پاتر",
     "املت و کوکو – ماست و دوغ – غذاهای سبک – سوپ ها – آش ها – چلو خورش – غذاهای شیرین",
     "شوهر آهوخانم نوشته علی محمد افغانی"]

In [ ]:
qdf = pd.DataFrame(q, columns=["query"])
qdf.head()

                                               query
0  معناهای فلسفی و جامعه شناسی جهانبینی و ایدئولو...
1  پادشاه بینی دراز اثر داینا مالک و پادشاه زرین ...
2  انقلاب سفید یا انقلاب شاه و مردم نام یک سلسله ...
3  اسپهبد مرزبان بن رستم بن شهریار بن شروین بن رس...
4  پل کندی مورخ نامدار انگلیسی و استاد دانشگاه یی...

In [ ]:
qdf = qdf.get("query")

preprocessing queries

In [ ]:

qdf = qdf.apply(lambda x: normalizer.character_refinement(normalizer.affix_spacing(str(x))))

qdf = qdf.apply(lambda x: normalizer.character_refinement(normalizer.affix_spacing(str(x))))

word_tokenize = hazm.word_tokenize
token_qdf = pd.DataFrame()
token_qdf['tokens'] =qdf.apply(lambda x: word_tokenize(x))

token_qdf['without-stop-word'] = token_qdf['tokens'].apply(lambda x: remove_stopwords(x))

token_qdf['stemmed'] = token_qdf['without-stop-word'].apply(lambda x: stem(x))

token_qdf

,tokens,without-stop-word,stemmed
0,"[معناهای, فلسفی, و, جامعه, شناسی, جهانبینی, و,...","[معناهای, فلسفی, جامعه, شناسی, جهانبینی, ایدئو...","[معنا, فلسف, جامعه, شناس, جهانبین, ایدئولوژ, د..."
1,"[پادشاه, بینی, دراز, اثر, داینا, مالک, و, پادش...","[پادشاه, بینی, دراز, داینا, مالک, پادشاه, زرین...","[پادشاه, بین, دراز, داینا, مالک, پادشاه, زرین,..."
2,"[انقلاب, سفید, یا, انقلاب, شاه, و, مردم, نام, ...","[انقلاب, سفید, انقلاب, شاه, مردم, نام, سلسله, ...","[انقلاب, سفید, انقلاب, شاه, مرد, نا, سلسله, تغ..."
3,"[اسپهبد, مرزبان, بن, رستم, بن, شهریار, بن, شرو...","[اسپهبد, مرزبان, بن, رستم, بن, شهریار, بن, شرو...","[اسپهبد, مرزب, بن, رس, بن, شهریار, بن, شروین, ..."
4,"[پل, کندی, مورخ, نامدار, انگلیسی, و, استاد, دا...","[پل, کندی, مورخ, نامدار, انگلیسی, استاد, دانشگ...","[پل, کند, مورخ, نامدار, انگلیس, استاد, دانشگاه..."
5,"[بنیانگذار, مکتب, هیوهو, نیتن, ایچی, ریو, و, ن...","[بنیانگذار, مکتب, هیوهو, نیتن, ایچی, ریو, نویس...","[بنیانگذار, مکتب, هیوهو, نیتن, ایچ, ریو, نویسن..."
6,"[او, ۲۶, کتاب, مختلف, نوشته‌است, که, به, ۲۰, ز...","[۲۶, کتاب, مختلف, نوشته‌است, ۲۰, زبان, زنده, د...","[۲۶, کتاب, مختلف, نوشته‌اس, ۲۰, زب, زنده, دنیا..."
7,"[هری, پاتر, و, تالار, اسرار, دومین, رمان, از, ...","[هری, پاتر, تالار, اسرار, دومین, رمان, سری, رم...","[هر, پا, تالار, اسرار, دومین, ر, سر, رمان, هر,..."
8,"[املت, و, کوکو, –, ماست, و, دوغ, –, غذاهای, سب...","[املت, کوکو, –, ماست, دوغ, –, غذاهای, سبک, –, ...","[امل, کوکو, –, ماس, دوغ, –, غذا, سبک, –, سوپ, ..."
9,"[شوهر, آهوخانم, نوشته, علی, محمد, افغانی]","[شوهر, آهوخانم, نوشته, علی, محمد, افغانی]","[شوهر, آهوخان, نوشته, عل, محمد, افغان]"

calculating tf_idf weights for query tokens

In [ ]:
qtok = token_qdf.get('stemmed').tolist()

qtfidf_dict = {}

for key in idf_dict.keys():
  for query in qtok:
    qtf = query.count(key)
    qindex = qtok.index(query)
    if qtf != 0:
      qtf = 1 + math.log10(qtf)
    qtf_idf = qtf * idf_dict[key]
    if qindex not in qtfidf_dict.keys():
      qtfidf_dict[qindex] = [qtf,]
    else:
      qtfidf_dict[qindex].append(qtf)

# qtfidf_dict contains tf_idf weights for all the tokens. Keys are query_indx and 
# values are vectors of the queries.

# Cosine Similarity

In [ ]:
import numpy as np
from scipy import spatial
import itertools
import json

topTenQueryResult = {}
for qindex, query in qtfidf_dict.items():
  result = {}
  for dindex, doc in tf_dict.items():
    if len(tf_dict[dindex]) == 24688:
      CosineSimilarity = 1 - spatial.distance.cosine(doc, query)
      result[dindex] = CosineSimilarity
  result = sorted(result.items(), key=lambda item: item[1], reverse=True)
  result = {k: v for k, v in result}
  filename = '/content/drive/MyDrive/queries/Query-{}.json'.format(qindex)
  with open(filename, "w") as outfile:
    ttq = dict(itertools.islice(result.items(), 0,10))
    ttq = sorted(ttq.items(), key=lambda item: item[1], reverse=True)
    ttq = {k: v for k, v in ttq}
    json.dump(ttq, outfile)